name: {{ grafana_project }}
services:
  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    restart: unless-stopped
{% if grafana_admin_password %}
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
{% endif %}
    ports:
      - "{{ grafana_bind }}:{{ grafana_port }}:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./provisioning/datasources:/etc/grafana/provisioning/datasources:ro
volumes:
  grafana_data:
